<section class="main-content">
  <h2>Bienvenido a nuestra aplicación de gestión de personas</h2>
  <p>Gestiona eficazmente a tus empleados, departamentos y obtén valiosos informes con nuestra aplicación fácil de usar.</p>
  <button (click)="goToLogin()">Iniciar Sesión</button>
</section>
<section class="key-features">
  <h2>Características Clave</h2>
  <div class="feature">
      <h3>Gestión de Empleados</h3>
      <p>Administra de manera eficiente la información de tus empleados, incluyendo detalles personales, historial laboral y más.</p>
  </div>
  <div class="feature">
      <h3>Generación de Informes</h3>
      <p>Obtén informes detallados sobre la fuerza laboral, asistencia, y más para tomar decisiones informadas.</p>
  </div>
  <div class="feature">
      <h3>Programación de Turnos</h3>
      <p>Crea y gestiona fácilmente los horarios de trabajo de tus empleados con nuestra herramienta de programación integrada.</p>
  </div>
</section>

<app-footer></app-footer>

