/* Estilos para el contenedor principal */
.login-container {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el encabezado del formulario */
.login-container h2 {
  color: #333;
  margin-bottom: 20px;
}

/* Estilos para los elementos del formulario */
.form-group {
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: left;
}

label {
  display: block;
  color: #666;
  font-size: 0.9em;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
  background-color: #258ac5;
}

/* Estilos para el enlace de registro */
.login-container p {
  font-size: 0.9em;
}

.login-container a {
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
}

.login-container a:hover {
  text-decoration: underline;
}
